$bg: #242438;
$bg-dark: #202031;
$text: #cdd6f4;
$text-accent: #fab387;
* {
  all: unset;
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

.radius {
  border-radius: 10px;
}

.colors {
  background-color: $bg;
  color: $text;
}

.hyprsunset {
  @extend .radius;
  @extend .colors;

  .btn {
    padding: 5px;
    &:hover { background-color: #11111b;   }
    &.r { border-radius: 0px 10px 10px 0px }
    &.l { border-radius: 10px 0px 0px 10px }
  }
}

.power-menu {
  .desligar {
    @extend .colors;
    @extend .radius;
    &:hover {
      background-color: #7e1616;
    }
  }  
  .reiniciar {
    @extend .colors;
    @extend .radius;
    &:hover {
      background-color: #7e1616;
    }
  } 
}

.muted-icon {
  @extend .radius;
  opacity: .5;

  // background-color: #242438;
  background-color: #7e1616;
  .icon {
    opacity: 1;    
    // color: #ff0000;
    color: #b8b8b8;
  }
}

.sound_container {
  .sound_mixer {
    @extend .radius;
    @extend .colors;
    opacity: 0;
    margin-top: -10px;
    animation: fade-in .5s ease forwards;

    .btn {
      @extend.radius;
      padding: 10px;
      &:hover { background-color: #11111b;   }
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.scale-container {
    padding: 0px 15px 0px 15px;
}

scale highlight {
  background-color: $text-accent;
  padding: 0.5em;
  border-radius: 0.2em;
}

scale trough {
  background-color: $bg-dark;
  border-radius: 0.2em;
}

