$bg: #242438;
$bg-dark: #202031;
$text: #cdd6f4;
$text-accent: #fab387;
$icon-l-size: 86px;

* {
  all: unset;
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

.radius {
  border-radius: 10px;
}

.colors {
  background-color: $bg;
  color: $text;
}

.hyprsunset {
  @extend .radius;
  @extend .colors;

  .btn {
    padding: 5px;
    &:hover { background-color: #11111b;   }
    &.r { border-radius: 0px 10px 10px 0px }
    &.l { border-radius: 10px 0px 0px 10px }
  }
}

.power-menu {
  .btn {
    @extend .colors;
    @extend .radius;   
    &:hover {
      background-color: $bg-dark;
    }
    .icon {
      font-size: $icon-l-size; 
    }
  }
}

/** Audio Component ***********************************/

.muted-icon {
  @extend .radius;
  opacity: .5;

  // background-color: #242438;
  background-color: #7e1616;
  .icon {
    opacity: 1;    
    // color: #ff0000;
    color: #b8b8b8;
  }
}

.sound_container {
  .sound_mixer {
    @extend .radius;
    @extend .colors;
    opacity: 0;
    margin-top: -10px;
    animation: fade-in .5s ease forwards;

    .btn {
      @extend.radius;
      padding: 10px;
      &:hover { background-color: #11111b;   }
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.scale-container {
    padding: 0px 15px 0px 15px;
}

scale highlight {
  background-color: $text-accent;
  padding: 0.5em;
  border-radius: 0.2em;
}

scale trough {
  background-color: $bg-dark;
  border-radius: 0.2em;
}

/** Generic window ***********************************/
.genwin {
  @extend .radius;
  @extend .colors;

  .btn {
    &:hover{
      background-color: $bg-dark;      
    }
    .icon {
      font-size: $icon-l-size; 
    }
  }
}

/** Weather ***************************************/
.iconweather {
	font-family: Iosevka Nerd Font;
	font-size : 120px;
	font-weight : normal;
	margin : 0px 0px 0px 50px;
}

.label_temp {
	color : $text;
	font-size : 80px;
	font-weight : bold;
	margin : 0px 30px 0px 0px;
}

.label_stat {
	color : $text-accent;
	font-size : 38px;
	font-weight : bold;
}

.label_quote {
	color : $text;
	font-size : 18px;
	font-weight : normal;
}


/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconcpu {
	color: #BF616A;
}
.iconmem {
	color: #A3BE8C;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #BF616A;
}
.mem_bar scale trough highlight {
	background-color: #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #88C0D0;
}

/** Uptime ********************************************/
.icontimer {
	// color: #B48EAD;
  color: $text;
	font-size : $icon-l-size;
	font-weight : normal;
}

.uphour {
	color: $text;
	font-size : 32px;
	font-weight : bold;
}

.upmin {
	color: $text;
	font-size : 20px;
	font-weight : bold;
}