@define-color bg #242438;
@define-color bg-dark #202031;
@define-color text #cdd6f4;
@define-color text-dark #49496F;
@define-color text-accent #fab387;
@define-color text-urgent #B87988;
@define-color text-great #88B879;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

/* Waybar it self */
window#waybar {
    background: rgba(210, 180, 255, 0);
    color: @text;
}

tooltip {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
    background: @bg;
}

tooltip label {
    color: @text;
}

#custom-volume_controller,
#custom-readers_mode,
#custom-restart_waybar,
#custom-weather,
#custom-light,
#custom-audio_output,
#custom-media,
#power-profiles-daemon,
#battery,
#clock,
#wireplumber,
#network,
#workspaces,
#tray,
#backlight {
    background: @bg;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 10px;
    border: 1px solid @bg-dark;
}

#power-profiles-daemon.performance {
    color: @text-accent;
}

#power-profiles-daemon.power-saver {
    color: @text-great;
}

#power-profiles-daemon.balanced {
    color: @text;
}

#tray {
    border-radius: 10px;
    margin-left: 10px;
}

#clock {
    color: @text-accent;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    padding: 0px 0px 0px 10px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
}

#network {
    border-radius: 10px 0px 0px 10px;
}

#custom-light {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
}

#workspaces {
    background: @bg;
    border-radius: 10px;
    margin-left: 10px;
}

#workspaces button {
    padding: 5px;
    color: @text;
}

#workspaces button.empty {
    color: @text-dark;
}

#workspaces button.active {
    background-color: #000;
}

#workspaces button.focused {
    background: #eba0ac;
}

#workspaces button.urgent {
    background: @text-urgent;
}

#workspaces button:hover {
    background: #11111b;
}

#wireplumber.muted {
    color: @text-urgent;
}
